.header {
  width: 100%;
  background: #f7f7f7;
  border-bottom: 1px solid #e5e7eb;
  padding: 24px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.logo {
  font-weight: 600;
  font-size: 20px;
  color: #3470ff;
  text-decoration: none;
}

.nav {
  display: flex;
  gap: 24px;
}

.link {
  font-size: 16px;
  color: #111;
  text-decoration: none;
  font-weight: 500;
  line-height: 125%;
}

.link:hover {
  color: #3470ff;
}

.active {
  color: #3470ff;
}
