.container {
  min-height: 100vh;
  background: #f7f7f7;
  padding: 100px 120px 40px;
  overflow-x: hidden;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.filtersSection {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  overflow-x: hidden;
}
